main { 
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.card-forms {
    background-color: #333;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
}

.title {
    margin-bottom: 20px;
}

h3 {
    color: #fff;
    font-weight: 700;
}

label {
    color: #ddd;
    font-size: 14px;
}

.form-control {
    background-color: #444;
    border: none;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.form-control:focus {
    box-shadow: none;
    background-color: #555;
    border: 1px solid #fda085;
}

.btn-primary {
    background-color: #fda085;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #f6d365;
}

.form-check-label {
    color: #bbb;
}

.text-center {
    color: #ddd;
}

a {
    color: #fda085;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #f6d365;
}
/* Usando seletores mais específicos para garantir que o estilo seja aplicado */
input.form-control:focus, 
textarea.form-control:focus, 
select.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}