* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    height: 13vh;
}
header {
    height: 10vh;
}
.card-forms {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff!important;
    
}
.headers-content {
    color: #343a40;
    display: flex;
    padding: 0 6rem;
    margin-top: 5vh;
    
}
.container-button{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    gap: 10px;
}
.custom-link {
    color: white;
    text-decoration: none;
}
.btn-color {
    color: white!important;
    background-color: #343a40!important;
}

.forms {
    padding: 20px;
    max-width: 500px!important;
    margin: 10vh auto;

}

.description {
    height: 10vh!important;
}
.btn {
    width: 100%!important;
}
.navbar {
    height: 10vh;
    background-color: rgb(52, 58, 64);
}
/* Usando seletores mais específicos para garantir que o estilo seja aplicado */
input.form-control:focus, 
textarea.form-control:focus, 
select.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
}