*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav {
    height: 10vh!important;
}
.icons {
    display: flex;
    gap: 10px;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    margin-top: 5vh;
}
.card_divpai{
    margin-top: 5vh;
}

p {
    font-size: larger;
    color: black;
    max-width: 30rem;
}
.product-descrition{
    font-size: larger;
    color: black;
    max-width: 16em;
}
h3 {
    color: black!important;
}
.linha{
    width: 7.4vw;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.div_pai {
    display: flex;
    gap: 10vw;
    justify-content: center;
}
.img-div_pai{
    width: 35vw;
    border-radius: 15px!important;

}
.content-text{
    margin-top: 25vh;
}

.productImg {
    border-radius: 2vw!important;
    padding: 20px;
    height: 50vh!important;
}


.card-body-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 3vh;
}

.card-text{
    max-width: 25vw;
}

.stars {
    display: flex;
    margin-left: 3vh;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 5vw;
    width: 5vw;
}

.fa-star {
    color: gold;
}

.section3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100vh;
}

.feedback-card {
    align-items: center;
    height: 50vh!important;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.profile-img {
    padding: 5px;
    width: 8vw;
    border-radius: 30%; /* Torna a imagem circular */
    object-fit: cover; /* Garante que a imagem mantenha suas proporções */
    object-position: center; /* Alinha a imagem ao centro */

}
.aspas {
    font-size: 2vw;
    color: green;
}


.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel-control-prev,
.carousel-control-next {
  transform: translateY(-5%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo para as bolinhas */
  border-radius: 35%; /* Formato de bolinha */
}

.carousel-control-prev-icon:before,
.carousel-control-next-icon:before {
  color: black; /* Cor do ícone dentro da bolinha */
}


.sessao-especiarias{
    margin-top: 8vh;
}
.text-light{
    color: white;
}

.especiarias{
    margin-top: 8vh;
}

a{
    text-decoration: none!important;
    color: black;
}

.botao-compra{
    width: 5vw !important;
}
.container {
    margin-top: 15vh;
}
.navegação {
    display: flex;
}
.fv-button{
    background: none;
    border: none;
    cursor: pointer;
    color: #0d6efd;
    transition: transform 0.2s ease-in-out, color 0.2s ease-in-out; /* Suaviza as transições */

}
.fv-button:hover {
    color: #0e5fd8; /* Altera a cor ao passar o mouse por cima */

}